$fx-base-color: rgb(0, 83, 87);
$fx-color-green: rgb(0, 85, 90);

$fx-light-green-color: rgb(120, 240,  20);

$fx-base-font-size: 18px;
$fx-greeting-font-size: 24px;

$fx-font: 'MetaWeb-Normal';
$fx-font-bold: 'MetaWeb-Medium';
